<h1>Student {{student}}</h1>
<h1>Student Age: {{student_age}}</h1>
<h2>Student Institution: {{student_institution}}</h2>

{{#each student_course_info}}
    <p>{{course_name}}</p>
    <p>{{course_enrollment}}</p>
{{/each}}